// fonts
    //desktop and tablet
    $page-header: 4.25rem;
    $section-header: 2.25rem;
    $subheader: 2rem;
    $body-copy: 1.375rem;
    $footer-copy: 0.9rem;
    $labels-and-buttons: 1.25rem;

    //mobile
    $page-header-mobile: 1.5rem;
    $section-header-mobile: 2rem;
    $subheader-mobile: 1rem;
    $body-copy-mobile: 1rem;
    $footer-copy-mobile: 1rem;
    $labels-and-buttons-mobile: 0.625rem;

    //weight
    $regular: 400;
    $demi: 600;
    $bold: 700;


//colours
    //primary
    $BandSite-Black: #323232 ; 
    $Silver: #AFAFAF ; 
    $White: #FFFFFF ; 

    //secondary
    $BandSite-DarkBlack: #000000 ; 
    $Mercury: #E1E1E1 ; 
    $Alabaster: #FAFAFA ; 

    //image opacity
    $BandSite-DarkBlack-Opacity: rgba(50, 50, 50, 0.5); 


//breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//flex center
%flex-center- {
    display: flex;
    justify-items: center;
}

//layout padding
$layout-padding-mobile: 1.5rem 1rem 1rem 1rem;
$layout-padding-tablet: 3rem 2.25rem 2.25rem 2.25rem;
$layout-padding-desktop: 5rem 4.5rem 4.5rem 4.5rem;



