.nav__header, .nav, .nav__logo {
  display: flex;
  justify-items: center;
}

.about {
  padding: 1.5rem 1rem 1rem 1rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding: 4rem 8.5rem 4.5rem 8.5rem;
  }
}
@media screen and (min-width: 768px) {
  .about__container {
    padding: 0.5rem 0 0.5rem 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__container {
    padding: 1.5rem 0 0 5.5rem;
  }
}
.about__blockquote {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  padding-top: 8px;
}
@media screen and (min-width: 768px) {
  .about__blockquote {
    padding-top: 1.5rem;
    line-height: 2rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__blockquote {
    padding-top: 2rem;
  }
}
.about__blockquote-author {
  padding-top: 0.5rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 768px) {
  .about__blockquote-author {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__blockquote-author {
    padding-top: 1.5rem;
  }
}
.about__article-heading {
  padding-top: 2rem;
  color: #000000;
}
@media screen and (min-width: 1280px) {
  .about__article-heading {
    padding-top: 4rem;
  }
}
.about__article-columns {
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .about__article-columns {
    display: flex;
    gap: 1.5rem;
  }
}
.about__article-column {
  padding-top: 1rem;
}
.about__image {
  height: auto;
  width: 100%;
  padding-top: 1rem;
}

button {
  transition-duration: 0.3s;
  background-color: #323232;
  color: #FFFFFF;
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}

input::-moz-placeholder {
  color: #323232;
}

input:-ms-input-placeholder {
  color: #323232;
}

input::placeholder {
  color: #323232;
}

input[type=text]:focus {
  outline: 1px solid #323232;
}

input:focus-within {
  outline: 1px solid #323232;
}

input[type=text]:focus-visible {
  outline: 1px solid #D22D2D;
}

textarea {
  font-family: "Avenir Next";
  height: 5rem;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #FAFAFA;
}

textarea::-moz-placeholder {
  color: #323232;
}

textarea:-ms-input-placeholder {
  color: #323232;
}

textarea::placeholder {
  color: #323232;
}

textarea:focus-visible {
  outline: 1px solid #323232;
}

.comments {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .comments {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments {
    padding: 4rem 8.5rem 2.5rem 8.5rem;
  }
}
.comments__list-and-form-container {
  padding: 0 10% 0 7%;
}
@media screen and (min-width: 1280px) {
  .comments__list-and-form-container {
    margin-top: 1rem;
    padding: 0 29% 0 24%;
  }
}
.comments__form-container {
  display: flex;
  margin-top: 1rem;
}
.comments__form-avatar {
  width: 20%;
}
@media screen and (min-width: 768px) {
  .comments__form-avatar {
    width: 12%;
  }
}
.comments__form-avatar-image {
  margin-top: 1.3rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .comments__form-avatar-image {
    height: 3rem;
    width: 3rem;
  }
}
.comments__form {
  display: flex;
  flex-direction: column;
  width: 80%;
}
@media screen and (min-width: 768px) {
  .comments__form {
    width: 90%;
  }
}
.comments__form-label {
  margin-bottom: 0.5rem;
}
.comments__form-input {
  margin-bottom: 1rem;
}
.comments__form-input-value {
  height: 2rem;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #FAFAFA;
  border: 1px solid #E1E1E1;
}
@media screen and (min-width: 768px) {
  .comments__form-input-value {
    padding: 1.5rem 1rem 1.5rem 1rem;
    height: 0;
  }
}
@media screen and (min-width: 768px) {
  .comments__form-label-textarea {
    margin-top: 0.5rem;
  }
}
.comments__form-textarea {
  border: 1px solid #E1E1E1;
}
@media screen and (min-width: 768px) {
  .comments__form-textarea {
    padding: 1.5rem 1rem 0 1rem;
  }
}
@media screen and (min-width: 768px) {
  .comments__button {
    width: 33%;
    align-self: flex-end;
    margin: 0.5rem 0;
  }
}
.comments__list-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  border-top: 2px solid #E1E1E1;
}
.comments__list-item {
  display: flex;
  padding: 1rem 0 1rem 0;
  border-bottom: 2px solid #E1E1E1;
}
@media screen and (min-width: 768px) {
  .comments__list-item {
    padding: 2rem 0;
  }
}
.comments__list-avatar-container {
  width: 20%;
}
@media screen and (min-width: 768px) {
  .comments__list-avatar-container {
    width: 12%;
  }
}
.comments__list-user-avatar {
  background-color: #E1E1E1;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.comments__list-info-container {
  width: 88%;
}
.comments__list-info {
  display: flex;
  justify-content: space-between;
}
.comments__list-name {
  font-size: 0.9rem;
  font-weight: 600;
}
.comments__list-date {
  font-size: 0.9rem;
  color: #AFAFAF;
}
.comments__list-comment {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

h1 {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-weight: 600;
  }
}
h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.2rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 2rem;
    line-height: 2.75rem;
  }
}

p {
  font-size: 1rem;
  line-height: 22px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}

h4 {
  font-size: 0.8rem;
  line-height: 1.5rem;
  font-weight: 400;
  height: 8rem;
}
@media screen and (min-width: 768px) {
  h4 {
    font-size: 0.9rem;
    line-height: 1.25rem;
  }
}

h5 {
  font-size: 15px;
  line-height: 1.25rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  h5 {
    font-size: 1.25rem;
  }
}

a {
  text-decoration: none;
}

.footer {
  padding: 1.5rem 1rem 1rem 1rem;
  background-color: #323232;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 4rem 8.5rem 1.5rem 8.5rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__header {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__title {
    width: 33%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__title {
    width: 28%;
  }
}
@media screen and (min-width: 768px) {
  .footer__socials-container {
    display: flex;
    justify-content: space-between;
    width: 66%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__socials-container {
    width: 72%;
  }
}
.footer__icons {
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__icons {
    padding: 0;
  }
}
.footer__icon {
  padding-right: 3rem;
  height: 1.5rem;
  width: 1.5rem;
}
.footer__header-logo {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__header-logo {
    display: inline-flex;
  }
}
.footer__companies-container {
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__companies-container {
    display: flex;
    align-content: space-between;
    height: 20rem;
    padding-top: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__companies-container {
    height: 13rem;
  }
}
.footer__company {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 12rem;
}
@media screen and (min-width: 768px) {
  .footer__company {
    height: 20rem;
    width: 33%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__company {
    width: 28%;
    height: 12rem;
  }
}
.footer__company-name {
  font-weight: 600;
}
.footer__footer {
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__footer {
    padding-top: 0;
  }
}
.footer__footer-logo {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__footer-logo {
    display: none;
  }
}
.footer__copyright {
  display: block;
  height: 24px;
  font-size: 11px;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 16px;
  }
}

.gallery {
  padding: 1.5rem 1rem 1rem 1rem;
  background-color: #FAFAFA;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding: 4rem 8.5rem 4.5rem 8.5rem;
  }
}
.gallery__images-container {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .gallery__images-container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
  }
}
.gallery__image {
  height: auto;
  width: 100%;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__image {
    width: 30%;
  }
}

.hero {
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem 1rem 1rem;
  color: #FFFFFF;
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  height: 25vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 80vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding: 4rem 8.5rem 4.5rem 8.5rem;
    height: 40vh;
  }
}

label {
  display: block;
  color: #AFAFAF;
  font-size: 13px;
  font-weight: 600;
}

.nav__header {
  background-color: #323232;
  font-size: 0.9rem;
}
@media screen and (min-width: 768px) {
  .nav__header {
    height: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__header {
    height: 5.5rem;
  }
}

.nav {
  flex-direction: column;
  width: 100%;
  padding-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
    padding: 0 0 0 3.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    padding-left: 8.5rem;
  }
}
.nav__logo {
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .nav__logo {
    padding: 0 3.25rem 0 0;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .nav__logo-image {
    margin: 0.625rem 3.25rem 0.625rem 0;
  }
}
.nav__link {
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .nav__link--active {
    border-bottom: 0.25rem solid #FFFFFF;
    padding-bottom: 1.4rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__link--active {
    padding-bottom: 2rem;
  }
}
.nav__link--inactive {
  color: #E1E1E1;
}
.nav__list {
  display: flex;
  width: 100%;
  text-align: center;
  padding-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .nav__list {
    align-items: center;
    padding: 0;
  }
}
.nav__list-item {
  width: 50%;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .nav__list-item {
    width: 7.5rem;
    padding: 0;
  }
}
.nav__list-item--active {
  border-bottom: 0.15rem solid #FFFFFF;
}
@media screen and (min-width: 768px) {
  .nav__list-item--active {
    border: none;
  }
}

html, body {
  box-sizing: border-box;
  font-family: "Avenir Next";
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.shows-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem 1rem 1.5rem 1rem;
  color: #FFFFFF;
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-shows.jpg");
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .shows-hero {
    padding: 3.5rem 3.25rem 3.25rem 3.25rem;
    height: 47vh;
  }
}
@media screen and (min-width: 1280px) {
  .shows-hero {
    flex-direction: row;
    align-items: center;
    padding: 3rem 8.5rem 3rem 8.5rem;
    height: 50vh;
  }
}
.shows-hero__subheading {
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
}
@media screen and (min-width: 768px) {
  .shows-hero__subheading {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows-hero__subheading {
    margin-bottom: 2rem;
  }
}
.shows-hero__play {
  width: 100%;
  height: 50%;
}
@media screen and (min-width: 768px) {
  .shows-hero__play {
    width: 55%;
    height: 40%;
  }
}
@media screen and (min-width: 1280px) {
  .shows-hero__play {
    width: 38%;
    height: 26%;
  }
}

.shows {
  padding: 2rem 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .shows {
    padding: 3.5rem 3.25rem 3.25rem 3.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    padding: 3rem 8.5rem 3rem 8.5rem;
    display: flex;
    justify-content: space-between;
  }
}
.shows__header {
  color: #000000;
}
.shows__tabel-header {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__tabel-header {
    display: flex;
    padding-top: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__tabel-header {
    padding: 1.1rem 0 1.5rem 0;
  }
}
@media screen and (min-width: 768px) {
  .shows__tabel-heading {
    width: 25%;
    color: #AFAFAF;
    font-size: 13px;
    font-weight: 600;
  }
}
@media screen and (min-width: 1280px) {
  .shows__container {
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .shows__item {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #E1E1E1;
    padding: 1rem 0;
  }
}
.shows__label {
  display: block;
  color: #AFAFAF;
  font-size: 13px;
  font-weight: 600;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .shows__label {
    display: none;
  }
}
.shows__item-date {
  font-weight: 600;
}
.shows__item-button {
  transition-duration: 0.3s;
  background-color: #323232;
  color: #FFFFFF;
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 4px;
  margin-top: 1rem;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .shows__item-button {
    min-width: 150px;
    padding: 0 32px 0 32px;
    font-size: 0.9rem;
  }
}
.shows__item-button:hover {
  background-color: #000000;
  color: #FFFFFF;
  height: 40px;
}
.shows__divider {
  border: none;
  margin-top: 1rem;
  background-color: #E1E1E1;
  height: 2px;
}
@media screen and (min-width: 768px) {
  .shows__divider {
    display: none;
  }
}

.show__item {
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .show__item {
    margin: 0;
  }
}
.show__item__item-label {
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .show__item {
    width: 25%;
  }
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}/*# sourceMappingURL=main.css.map */